create database [My_MariaCofe]
USE [My_MariaCofe]
GO
/****** Object:  Table [dbo].[Information]    Script Date: 4/19/2019 4:15:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Information](
	[ShortDescription] [varchar](max) NOT NULL,
	[Address] [varchar](max) NOT NULL,
	[Tel] [varchar](20) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[OpeningHours] [varchar](max) NOT NULL,
	[Signature] [varchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Intro]    Script Date: 4/19/2019 4:15:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Intro](
	[Title] [varchar](max) NOT NULL,
	[Picture] [varchar](max) NOT NULL,
	[ShortDescription] [varchar](max) NOT NULL,
	[DetailDescription] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/19/2019 4:15:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Picture] [varchar](max) NOT NULL,
	[ShortDescription] [varchar](max) NOT NULL,
	[DetailDescription] [varchar](max) NOT NULL,
	[DateCreated] [date] NOT NULL,
	[price] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Share]    Script Date: 4/19/2019 4:15:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Share](
	[icon] [nvarchar](50) NULL,
	[socialNetwork] [nvarchar](50) NULL,
	[URL] [nvarchar](50) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Information] ([ShortDescription], [Address], [Tel], [Email], [OpeningHours], [Signature]) VALUES (N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.', N'Gammel Torv, Copenhagen, Denmark', N'123456', N'tungdthe141653@fpt.edu.vn', N'<p>Monday: Closed</p><p>Tuesday - Friday: 10:00 - 20:00</p><p>Saturday and Sunday: 11.00 - 21:00</p>', N'Maria Bagnarelli')
INSERT [dbo].[Information] ([ShortDescription], [Address], [Tel], [Email], [OpeningHours], [Signature]) VALUES (N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.', N'Gammel Torv, Copenhagen, Denmark', N'123456', N'tungdthe141653@fpt.edu.vn', N'<p>Monday: Closed</p><p>Tuesday - Friday: 10:00 - 20:00</p><p>Saturday and Sunday: 11.00 - 21:00</p>', N'Maria Bagnarelli')
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
INSERT [dbo].[Share] ([icon], [socialNetwork], [URL]) VALUES (N'images/fb.png', N'Facebook', N'https://www.facebook.com/')
INSERT [dbo].[Share] ([icon], [socialNetwork], [URL]) VALUES (N'images/tw.png', N'Twitter', N'https://twitter.com/')
INSERT [dbo].[Share] ([icon], [socialNetwork], [URL]) VALUES (N'images/gg.png', N'Google+', N'https://www.google.com.vn/')
